<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check Balance</title>

   
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2 class="info">Check Account Balance</h2>

    <form action="/account/balance" method="post">

        <div class="form-group">
            <label>Account Number</label>
            <input type="text" name="accountNumber" required />
        </div>

        <button type="submit" class="btn-primary">Check Balance</button>

    </form>

</div>

</body>
</html>
