<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Withdraw Money</title>

  
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2 class="info text-center">Withdraw Money</h2>

    <form action="/account/withdraw" method="post">

        <div class="form-group">
            <label>Account Number</label>
            <input type="text" name="accountNumber" required />
        </div>

        <div class="form-group">
            <label>Amount</label>
            <input type="number" name="amount" step="0.01" required />
        </div>

        <button type="submit" class="btn-primary">Withdraw</button>

    </form>

</div>

</body>
</html>
